header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left; 
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline; 
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover { 
    color: #ddd;
    background-color: #777777;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .product-details {
    display: flex;
    margin-top: 20px;
  }
  
  img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .info {
    flex: 1;
  }
  
  p {
    margin: 5px 0;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control input[type="text"],
  .form-control input[type="email"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-control textarea {
    width: calc(100% - 16px);
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #777;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .buttons input[type="number"] {
    width: 35px 
  }

  /*Style for the modals*/
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 20px auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    border-radius: 10px;
    font-family: sans-serif;
  }
  .form * {
      box-sizing: border-box;
  }

  .form input {
    margin-bottom: 15px;
  }
  
  .form input[type=text], .form input[type=password], .form input[type=email], .form input[type=tel] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  
  .form label {
    color: #777;
    font-size: 0.8em;
  }
  
  .form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: auto;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #009eff;
    cursor: pointer;
  }

  .form button[type=submit]:hover {
    background: #0077cc;
  }

  .star-label {
    display:inline-block;
  }

  span.span-error {
    background-color: #ffb6b6;
    padding: 4px;
    border: 2px solid #ff4c4c;
    color: black;
    font-size: 90%;
    border-radius: 10px;
  }